<div class="pushy pushy-static">
    <ul class="pushy-main-submenu">
        <li>
            <div class="car-menu-top">
                <div class="car-image"><img src="images/icon-car.png" alt="" /></div>
                <div class="car-menu-title">Our Cars</div>
                <div class="menu-close">
                    <button class="pushy-close"></button>
                </div>
            </div>
        </li>
        <li> <a href="#"> Mercedes-Benz <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Mercedes-Benz</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">SUVs <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">SUVs</div>
                                <div class="car-menu-title">Mercedes-Benz</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">GLA SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLA SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/gla200.html">GLA200<br>
                                        <span class="car-model-text">AMG-Line Premium Plus</span></a></li>
                                <li><a href="all-cars/gla35.html">GLA35<br>
                                        <span class="car-model-text">4-Matic</span></a></li>
                                <li><a href="all-cars/gla45-s.html">GLA45 S<br>
                                        <span class="car-model-text">4-Matic Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLB SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLB SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/glb200-7-seater.html">GLB200 7-Seater<br>
                                        <span class="car-model-text">AMG Line Premium Plus</span></a></li>
                                <li><a href="all-cars/glb35-7-seater.html">GLB35 7-Seater<br>
                                        <span class="car-model-text">4-Matic Premium Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLC SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLC SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/glc300-suv.html">GLC300<br>
                                        <span class="car-model-text">4-Matic AMG Line Premium Plus</span></a></li>
                                <li><a href="all-cars/glc43-suv.html">GLC43<br>
                                        <span class="car-model-text">4-Matic</span></a></li>
                                <li><a href="all-cars/glc63.html">GLC63 S<br>
                                        <span class="car-model-text">4-Matic + Premium Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLE SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLE SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/gle450-7-seater.html">GLE450 7-Seater<br>
                                        <span class="car-model-text">AMG Line Premium</span></a></li>
                                <li><a href="all-cars/gle53-7-seater.html">GLE53 7-Seater<br>
                                        <span class="car-model-text">4-Matic + Premium</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Coupes <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Coupes</div>
                                <div class="car-menu-title">Mercedes-Benz</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">CLA Coupes <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">CLA Coupes</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/cla180.html">CLA180<br>
                                        <span class="car-model-text">AMG-Line</span></a></li>
                                <li><a href="all-cars/cla200.html">CLA200<br>
                                        <span class="car-model-text">AMG-Line Premium Plus</span></a></li>
                                <li><a href="all-cars/cla250.html">CLA250<br>
                                        <span class="car-model-text">AMG-Line</span></a></li>
                                <li><a href="all-cars/cla35.html">CLA35<br>
                                        <span class="car-model-text">4-Matic</span></a></li>
                                <li><a href="all-cars/cla45-s.html">CLA45 S<br>
                                        <span class="car-model-text">4-Matic + Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLC Coupes <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLC Coupes</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/glc300-coupe.html">GLC300<br>
                                        <span class="car-model-text">4-Matic AMG Line Premium Plus</span></a></li>
                                <li><a href="all-cars/glc43-coupe.html">GLC43<br>
                                        <span class="car-model-text">4-Matic</span></a></li>
                                <li><a href="all-cars/glc63.html">GLC63 S<br>
                                        <span class="car-model-text">4-Matic + Premium Plus</span></a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloons</div>
                                <div class="car-menu-title">Mercedes-Benz</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">S-Class Saloon <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">S-Class Saloon</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/s450-2021.html"><span style="color:red;">NEW</span> S450
                                        2021<br>
                                        <span class="car-model-text">Grand Edition (L)</span></a></li>
                                <li><a href="all-cars/s500-2021.html"><span style="color:red;">NEW</span> S500
                                        2021<br>
                                        <span class="car-model-text">Grand Edition (L)</span></a></li>
                                <li><a href="all-cars/s500l.html">S500L<br>
                                        <span class="car-model-text">4-Matic AMG-Line Premium Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">E-Class Saloon <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">E-Class Saloon</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="all-cars/e200-2021.html"><span style="color:red;">NEW</span> E200
                                        2021<br>
                                        <span class="car-model-text">AMG-Line Premium</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">Porsche <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Porsche</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">SUVs <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">SUVs</div>
                                <div class="car-menu-title">Porsche</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/porsche-macan.html">Porsche Macan <br><span class="car-model-text">S
                                    PDK
                                    3.0</span></span></a></li>
                        <li><a href="all-cars/porsche-cayenne.html">Porsche Cayenne <br><span
                                    class="car-model-text">3.0</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Coupes <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Coupes</div>
                                <div class="car-menu-title">Porsche</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/porsche-911.html">Porsche 911 <br><span class="car-model-text">Carrera
                                    4S</span></span></a></li>
                        <li><a href="all-cars/porsche-cayenne-coupe.html">Porsche Cayenne<br><span
                                    class="car-model-text">S
                                    2.9</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloons</div>
                                <div class="car-menu-title">Porsche</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/porsche-panamera.html">Porsche Panamera<br><span
                                    class="car-model-text">4S PDK
                                    3.0</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">BMW <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">BMW</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Hatchbacks</div>
                                <div class="car-menu-title">BMW</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/bmw-320i.html">3-Series BMW <br><span class="car-model-text">320i
                                    M-Sport</span></span></a></li>
                        <li><a href="all-cars/bmw-520i.html">5-Series BMW <br><span class="car-model-text">520i
                                    M-Sport
                                    Edition</span></span></a></li>
                        <li><a href="all-cars/bmw-7-series.html">7-Series BMW <br><span class="car-model-text">740Li
                                    M-Sport</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Coupe <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Hatchbacks</div>
                                <div class="car-menu-title">BMW</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/bmw-8-series.html">8-Series BMW <br><span class="car-model-text">840i
                                    sDrive
                                    M-Sport</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">Toyota <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Toyota</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">Hatchbacks <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Hatchbacks</div>
                                <div class="car-menu-title">Toyota</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/toyota-alphard.html">Toyota Alphard <br><span
                                    class="car-model-text">Hatchback</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloon</div>
                                <div class="car-menu-title">Toyota</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/toyota-camry.html">Toyota Camry <br><span class="car-model-text">2.5
                                    Hybrid</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">Honda <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Honda</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">Hatchbacks <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Hatchbacks</div>
                                <div class="car-menu-title">Honda</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="all-cars/honda-fit.html">Honda Fit <br><span
                                    class="car-model-text">Hatchback</span></span></a></li>
                        <li><a href="all-cars/honda-shuttle.html">Honda Shuttle <br><span
                                    class="car-model-text">Hatchback</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li>
            <div class="car-menu-fixed-bottom">
                <div class="appointment-btn-wrp"><a href="../contact-us.html" class="appointment-btn">Book An
                        Appointment</a>
                </div>
                <div class="menu-logo"><img src="../images/logo-2.png" alt="" /></div>
                <div class="menu-time">Mon - Fri (10am - 7pm): 6455 235</div>
                <div class="menu-address">159 Sin Ming Road #01-01/04<br>
                    Armtech Building Singapore 575625</div>
            </div>
        </li>
    </ul>
</div>