<div class="cd-dropdown-wrapper">
    <nav class="cd-dropdown">
        <h2><img src="images/logo-icon.png" alt="" /></h2>
        <a href="#0" class="cd-close">Close</a>
        <ul class="cd-dropdown-content">
            <li @@if (context.page==='home' ){ class='active' }><a href="@@path./index.html">Home</a></li>
            <li @@if (context.page==='about' ){ class='active' }><a href="@@path./about-us.html">About us</a></li>
            <li @@if (context.page==='car' ){ class='active' }><a href="@@path./our-car.html">Our Cars</a></li>
            <li @@if (context.page==='service' ){ class='active' }><a href="@@path./our-workshop.html">Service Centre</a></li>
            <li @@if (context.page==='prom' ){ class='active' }><a href="@@path./our-promotion.html">Our Promotions</a></li>
            <li @@if (context.page==='contact' ){ class='active' }><a href="@@path./contact-us.html">Contact Us</a></li>
            <li><a href="@@path./contact-us.html" class="appointment-btn">Book An Appointment</a></li>
            <li>
                <div class="menu-logo"><img src="@@path./images/logo-2.png" alt="" /></div>
                <div class="menu-time">Mon - Fri (10am - 7pm): 6455 235</div>
                <div class="menu-address">159 Sin Ming Road #01-01/04<br>
                    Armtech Building Singapore 575625</div>
            </li>
        </ul>
    </nav>
</div>