.page-banner {
    padding-top: 130px;
    margin-bottom: 180px;

    &__title {
        float: unset;
    }

    &__text {
        margin-top: 50px;
        margin-bottom: 34px;
        font-family: $secondary-font-2;
        font-size: 23px;
        line-height: 1.2;
    }

    &__wrapper {
        padding: 0 90px;
    }
}